// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";
@use "GeneralVariables.d";

html,
body,
section,
#Browser, // stylelint-disable-line selector-max-id
#Language, // stylelint-disable-line selector-max-id
.Content {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;

  > .JAVA_RE { // stylelint-disable-line selector-class-pattern
    position: relative;
    top: 4px;
    left: 4px;

    width: 1015px;
    height: 768px;
    border: 1px solid ColorMap.$IO_OIDIS_GRAY;

    background-color: ColorMap.$IO_OIDIS_WHITE;
    box-shadow: none;
  }

  > .FOCUS {
    border: 1px solid ColorMap.$IO_OIDIS_ORANGE;
    box-shadow: 0 0 4px 0 ColorMap.$IO_OIDIS_GRAY;
  }
}

.#{GeneralVariables.$IoOidisServicesNamespace}BasePageController {
  .AppHeader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 500px;

    .Label .Text {
      cursor: default;
    }
  }

  .AppDragBar {
    cursor: move;

    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;

    height: 20px;

    .DragBar {
      position: relative;
      top: 0;
      left: 0;

      width: 1015px;
      height: 20px;
    }
  }

  .AppButtons {
    position: absolute;
    z-index: 1005;
    top: 0;
    left: -75px;

    float: right;

    width: 75px;

    * {
      cursor: default;
    }

    .AppMinimize {
      position: relative;
    }
  }

  .AppContentLoader {
    position: relative;
    float: left;
    display: block;
    min-width: 1024px;

    .Label .Text {
      position: relative;
    }
  }

  .AppContentLoaderProgress {
    clear: both;
    width: 150px;
    margin: auto;
  }

  .AppResizeBars {
    position: absolute;
    top: -5px;
    left: -5px;

    .ResizeBar {
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;

      .X,
      .Y,
      .XY {
        position: relative;
        top: 0;
        left: 0;

        width: 10px;
        height: 10px;
        border: 0 solid transparent !important; // stylelint-disable-line declaration-no-important

        background: transparent !important; // stylelint-disable-line declaration-no-important
      }
    }

    .Top .ResizeBar .Y {
      height: 8px;
    }

    .Top,
    .Bottom {
      .Left,
      .Right {
        .ResizeBar {
          z-index: 1004;
        }
      }
    }

    .Top .Right,
    .Bottom .Left {
      .ResizeBar .XY {
        cursor: ne-resize;
      }
    }
  }
}

.RuntimeTest {
  width: 85%;
  margin: auto;
}

.DeveloperCorner .Services {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  border-bottom: 3px solid ColorMap.$IO_OIDIS_BLUE;

  background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;

  .Label {
    position: absolute;
    top: 5px;
    left: 10px;

    font-size: 16px;
    color: ColorMap.$IO_OIDIS_GRAY_MEDIUM;
  }
}
